langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain-groq
langchain-text-splitters
langchain_classic
pypdf
langchain_huggingface
sentence-transformers
chromadb
langchain_groq
langchain_callbacks
arxiv
wikipedia
ddgs